# gitignore Documentation - http://git-scm.com/docs/gitignore

# Gradle
.gradle/

# Maven
target/

# Clover
.clover/

# TestNG
test-output/

# IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# Mac
.DS_Store
